<p>http works!</p>
<table class="table">
<tr *ngFor="let product of products">
    <td>{{product.productId}}</td>
    <td>{{product.description}}</td>
    <td>{{product.brand}}</td>
    <td>{{product.qty}}</td>
    <td>{{product.price}}</td>
</tr>
</table>
<div>
    {{prod.productId}}
    {{prod.description}}
    {{prod.brand}}
    {{prod.qty}}
    {{prod.price}}
</div>
<table class="table">
    <tr *ngFor="let product of products">
        <td>{{product.productId}}</td>
        <td>{{product.description}}</td>
        <td>{{product.brand}}</td>
        <td>{{product.qty}}</td>
        <td>{{product.price}}</td>
    </tr>
    </table>